body{
font-family: Arial, sans-serif;
background:#eeeeee;
}

.container{
width:600px;
margin:auto;
background:white;
padding:20px;
}

.main-image{
width:250px;   /* reduced image size */
display:block;
margin:auto;
margin-bottom:15px;
}

.title{
text-decoration: underline;
}

.uni{
font-size:18px;
}

.square{
list-style-type:square;
}

.circle{
list-style-type:circle;
}

.timetable{
width:100%;
border-collapse:collapse;
margin-top:30px;
}

.timetable th,
.timetable td{
border:2px solid black;
padding:10px;
text-align:center;
}

.timetable tr:last-child td{
font-weight:bold;
}